streamlit
googlemaps
qrcode
streamlit_searchbox
streamlit-authenticator  <-- ¡ESTA ES LA CLAVE!
pyyaml                   <-- Necesaria para leer el config.yaml
python-dotenv            <-- Necesaria para leer el .env
